name: Publish @port-labs/jq-node-bindings

on:
  release:
    types: [created]

permissions:
  id-token: write
  contents: read

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - name: Install node-gyp deps
        run: sudo apt-get install -y autoconf make libtool automake
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
      - run: npm ci
      - run: npm publish --provenance --tag=next
        if: ${{ github.event.release.prerelease }}
      - run: npm publish --provenance
        if: ${{ !github.event.release.prerelease }}