name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        node: [16, 20]
        os: [ubuntu-22.04]
        include:
          - node: 16
            os: macos-14
          - node: 20
            os: macos-14
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install build dependencies
        run: |
          if [ "${{ matrix.os }}" == "ubuntu-22.04" ]; then
            sudo apt-get update
            sudo apt-get install -y cmake ninja-build autoconf make libtool automake
          else
            brew install cmake ninja autoconf automake libtool
          fi

      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - run: npm ci
      - run: npm run build
      - run: npm test
